{% extends "layouts/app.twig" %}

{% block content %}
    <h1>Сайты</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
        </thead>
            <tbody>
            {% if urls is not empty %}
                {% for url in urls %}
                <tr>
                    <td>{{ url.getId }}</td>
                    <td><a href="{{ router.urlFor('url.show', {'id': url.getId}) }}">{{ url.getName }}</a></td>
                    <td>{{ url.getLastCheck.getCreatedAt }}</td>
                    <td>{{ url.getLastCheck.getStatusCode }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}